.alert-main{
    margin: 1rem;
    background: #156056;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}