.heading {
    display: flex;
    flex-direction: row;
    gap: 25rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-detail {
    display: flex;
    flex-direction: row;
    gap: 25rem;
}

.info-detail2 {
    display: flex;
    flex-direction: row;
    gap: 29rem;
}

.tank-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: auto;
    background: #fff;
    margin: 1rem;
    width: 60vw;
    border-radius: 1rem;
}